<h1>Professional Profile</h1>

<ul>
	{% for section in sections %}
		<li>
			<a href="{% url 'prof_profile:prof_section' section.id %}">
				{{ section.section_name }}
			</a>
			<ul>
				{% for entry in section.profileentry_set.all %}
					<li>{{ entry.entry_name }}</li>
				{% endfor %}
			</ul>
		</li>
	{% endfor %}
	<li>
		<a href="#">
			Create New Section
		</a>
	</li>
</ul>

<form 
    action="{% url 'prof_profile:prof_add_section' %}" 
    method="post">
    {% csrf_token %}
    <input type="text" name="section_name" placeholder="Section Name">
    <input type="submit" value="Submit">
</form>



