{% load prof_profile_extras %}

<h1>Professional Profile</h1>

<ul>
	{% for section in sections %}
		<form
			action="{% url 'prof_profile:prof_del_section' %}"
			method="post">
			{% csrf_token %}
			<li>
				<a href="{% url 'prof_profile:prof_section' section.id %}">
					{{ section.section_name }}
				</a>

				<input type="hidden" value="{{ section.pk }}" name="pk">
                <input type="submit" value="-">
				
				<ul>
					{% for entry in section|top_num:"3" %}
						<li>{{ entry.entry_name }}</li>
					{% endfor %}
				</ul>
			</li>
		</form>
	{% endfor %}
</ul>

<form 
    action="{% url 'prof_profile:prof_add_section' %}" 
    method="post">
    {% csrf_token %}
    <input type="text" name="section_name" placeholder="Section Name">
    <input type="submit" value="Submit">
</form>



